@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
* {
  padding: 0;
  margin: 0;
}

body {
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e9eab, #eef2f3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e9eab, #eef2f3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content {
  font-family: "Raleway", sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content h1 {
  margin-bottom: 12px;
}
.content .credit {
  margin-top: 24px;
}
.content a {
  color: #1e90ff;
  text-decoration: none;
}
.content a:hover {
  color: #0077ea;
  text-decoration: none;
}

